<h1>Login </h1>
<!-- <form [formGroup]="userform">
<div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
  <div class="ui-grid-row" style="margin-top: 2em">
    <div class="ui-grid-col-12">
        <div class="ui-inputgroup">
            

                <input matInput placeholder="Username" formControlName="userName" [(ngModel)]="loginModel.userName"/>
        </div>
    </div>
  </div>
  <div class="ui-grid-row">
    <div class="ui-grid-col-12">
      <div class="ui-inputgroup">
           <input type="password" matInput placeholder="Password" formControlName="userPassword" [(ngModel)]="loginModel.userPassword"/>
      </div>
    </div>
  </div>
  </div>
  <button mat-button (click)="login()">Click me!</button>
</form> -->
<button mat-button (click)="login()">sign in with google</button>